main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 50px;
  height: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.footer-board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.key-enter,
.key-back {
  width: 50px;
}
.key-back svg {
  width: 20px;
}
